/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/

body {
  background-color: yellow;
  color: red;
  margin: 10px;
  text-align: center;
  font-size: 90px;
  font-family: 'Monoton',cursive;
}
