/* Style Sheet */

html {
  width: 500px;
  height: 500px;
}

/* All text white */
* {
  color: white;
  font-family: 'Press Start 2P', cursive;
}

/* Set up background colour*/
body {
  background-color: black;
}

/* Characteristics of the draggable object */
.draggables {
  font-size: 35px;
  text-align: center;
  position: absolute;
  display: inline-block;
  z-index: 10;
  font-family: 'Iceland', cursive;
}

/* Text colour of the title of the pop up window */
.ui-dialog-title {
  color: red;
}

.instructions {
  line-height: 25px;
}

/* Stats of the player */
#stats {
  line-height: 50px;
  z-index: -10;
}

/* Don't display bar for the sounds */
#typingSound {
  display: none;
}

#backgroundMusic {
  display: none;
}

/* Characteristics of player icon */
#computerPerson {
  position: absolute;
  top: 60%;
  left: 40%;
  display: inline-block;
}

/* Positions of each draggable objects */
#drag1 {
  top: 65%;
  left: 10%;
}

#drag2 {
  top: 35%;
  left: 50%;
}

#drag3 {
  top: 65%;
  left: 80%;
}

#drag4 {
  top: 45%;
  left: 25%;
}

#drag5 {
  top: 45%;
  left: 65%;
}
