/*********************************************

This is the style file for this project.

**********************************************/
* {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

#widget1 {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 150px;
  height:600px;
  background-color: yellow;
  z-index: -1;
}

#widget2 {
  position: absolute;
  top: 520px;
  left: 60px;
  width: 60px;
  height:200px;
  background-color: red;
  z-index: -1;
}

#widget3 {
  position: absolute;
  top: 50px;
  left: 1300px;
  width: 150px;
  height:600px;
  background-color: green;
  z-index: -1;
}

#textInput, #blogPosts, h3 {
  z-index: 1000;
}

.posts {
  position: relative;
  border: black 1px solid;
  padding: 15px;
  margin: 5px;
  width: 100%;
}

h3 {
  font-family: 'Neucha', cursive;
  font-size: 72px;
  position: absolute;
  left: 100px;
  top: 50px;
}

#postBtn {
  position: absolute;
  left: 960px;
  top: 200px;
}

h6 {
  left: 550px;
  top: 170px;
  position: absolute;
}

#textInput {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 550px;
  top: 200px;
}

#blogPosts {
  position: absolute;
  background-color: white;
  left: 545px;
  top:275px;
  width: 372px;
}

#comments {
  position: relative;
  width: 100%;
  height: 100%;
}

.comment {
  position: absolute;
  background-color: white;
  border: black 1px solid;
  padding: 20px;
}

#login {
  width: 100%;
  height: 100%;
}

#form {
  display: flex;
  flex-flow: column wrap;
  width: 200px;
  position: absolute;
  top: 25%;
  left: 45%;

}

#btnConnect {
  margin-top: 20px;
  width:50%;
}

#welcomeMessage {
  top: 130px;
  left: 210px;
  font-size: 30px;
  position: absolute;
}

ul {
  display: block;
  list-style: none;
  display: none;
}
